
	@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

	body{
		font-family: "Press Start 2P", system-ui;
		background-color: #DBD8D1;
		color: #555;
	}

	header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		padding-top: 25%;


		@media (min-width: 500px) {
            padding-top: 5%;
        }
	}
	
	.titel{
		font-size: 25px;
		text-align: center;
/* 
		@media (min-width: 320px) {
			text-align: center;
			padding-top: 15%;
        } */
	}

	.kopje{
		font-size: 18px;
	}

	main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
	}

	.astro-gif{
		width: 65%;
		height: auto;
		border: 5px solid #555;

		@media (min-width: 500px) {
            width: 25%;
        }
	}

	.intro-text{
		text-align: center;
   		 display: inline-block;
    	padding: 10px;
    	border: 2px solid transparent;
    	position: relative;
	}


	.button{
		position: absolute;          
		background-color: #555555;
		color: #ffffff;
		padding: 20px 20px;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		border-radius: 5px;
		transition: all 0.3s ease;
	}

	.button:hover {
    background-color: #000000;
    color: #fff;
    transform: scale(1.1);
	}