
	@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&family=Varela+Round&display=swap');

	body{
		font-family: "Orbitron", sans-serif;
		background-color: #1A1A1A;
		color: #1A91C0;
	}

	header{
		/* font-family: "Press Start 2P", system-ui; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		padding-top: 25%;


		@media (min-width: 500px) {
            padding-top: 2%;
        }
	}
	
	.titel{
		font-size: 25px;
		text-align: center;

/* 
		@media (min-width: 320px) {
			text-align: center;
			padding-top: 15%;
        } */
	}

	.kopje{
		font-size: 18px;
	}

	main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
	}

	.astro-gif{
		width: 65%;
		height: auto;
		border: 5px solid #555;

		@media (min-width: 900px) {
            width: 20%;
        }
	}

	.intro-text{
		text-align: center;
   		 display: inline-block;
    	padding: 10px;
    	border: 2px solid transparent;
    	position: relative;
	}


	.button{
		position: absolute;          

		color: #ffffff;
		padding: 13px 13px;
		font-weight: bold;
		transition: all 0.3s ease;
		margin-left: 41.5%;




		background-color:#1a91c0d5;
		border: 1px solid #1a91c0d5;
		border-radius: 5px;
		color: white;  
		cursor: pointer;
		width: 15%;
	}

	.button:hover {
		background-color:#1a91c0d5;
		color: #fff;
		transform: scale(1.1);
	}

